<%- include('../partials/header') %>

<div class="container-fluid">

  <section class="clucks-list row justify-content-center">

    <div class="col-sm-8">
      <form
        class="d-flex flex-column"
        action="/clucks"
        enctype="multipart/form-data"
        method='POST'
      >
        <label>Username</label>
        <div class="form-group">
          <input
            class="form-control"
          name="username"
            placeholder="john_doe"
            type="text"
          />
        </div>
        <label>Content</label>
        <div class="form-group">
          <textarea
            class="form-control"
            rows='5'
            name='content'
            placeholder="Spit your mind out?"
          ></textarea>
        </div>
        <div class="form-group">
          <input
            class="form-control"
            name="photo"
            type="file"
          />
        </div>
        <input
          class="btn btn-outline-primary align-self-end"
          type='submit'
          value='Cluck'
        />
      </form>
    </div>


</section>

</div>

<%- include('../partials/footer') %>
